* {
	font-family: roboto;
	font-size: 20px;
}

#external {
	color: yellow;
}

h1 {
	font-size: 50px;
}

#following {
	text-transform: uppercase;
}

.languages-learned {
	background-color: lightgreen;
}

li[required]{
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 100%;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
	color: black;
}

section > ul {
	letter-spacing: 10px;
}